.bg-image {
    background-image: url('src/img/close-up-pink-flowers-with-green-background.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
    margin: 0!important;
  }
  .featurette-divider{
    margin: 5rem;
  }
  .subtitle{
    margin-bottom: 60px;
    text-align: center;
    font-size: 35px;
  }
  .featurette-heading{
    margin-bottom: 40px;
  }
  .features{
    margin-bottom: 100px;
  }
  .footer-back{
    background-color: bisque;
  }
  .btn-yellow {
    background-color: #ffc107; /* Amarillo */
    border-color: #ffc107;     /* Amarillo */
    color: #212529;            /* Color del texto para contraste */
}

.btn-yellow:hover {
    background-color: #e0a800; /* Amarillo oscuro al pasar el ratón */
    border-color: #d39e00;     /* Amarillo oscuro al pasar el ratón */
}
